/* general  */

:root {
  --main-bg-color: #0b020e;
  --omnibar-bg-color: transparent
  --omnibar-text-color: var(--main-bg-color);
  --main-text-color: rgba(255, 255, 255, 0.3);
}
html {
  height: 100%;
  color: var(--main-text-color);
  font-family: Arial;
}
body {
  background: var(--main-bg-color);
  margin: 0;
  min-height: 100%;
}

/* omnibar */

#form {
  padding: 0.75em;
}
#form #omnibar {
  background: var(--omnibar-bg-color);
  border: 1px solid grey;
  box-sizing: border-box;
  color: var(--omnibar-text-color);
  font-size: 2em;
  opacity: 0.95;
  padding: 0.5em 0.5em;
  width: 100%;
}
#omnibar:focus {
  outline-width: 0;
}

p#top-info {
  padding: 0 1em;
  margin: 0;
}



/* history */

#history.empty {
  display: none;
}
#history .title {
  padding: 0 1em;
  margin: 0;  
}

#history ul {
  font-size: 2em;
  margin: 0;
  padding: 0 .4em;
}

/* entries (history) */
li.log {
  list-style: none;
  padding: 0 .25em;
  margin: .5em 0;
  border: 1px solid rgba(255,255,255,.1);
}

li.log .log-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: .2em;
}

li.log .remove {
  font-size: .5em;
  color: #622222;
  visibility: hidden;
}

li.log.expanded {
  background: rgba(255, 255, 255, .1);
}
li.log.expanded .remove {
  visibility: visible;
}
li.log input.text {
  background:transparent;
  border: 0 dotted grey;
  color: var(--omnibar-text-color);
  font-size: 1em;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
}
li.log.expanded input.text {
/*   border-bottom-width: 1px; */
  pointer-events: auto;
}
li.log input.text:focus {
  outline-width: 0;
  width: 1;
}


li.log div.text {
  padding: 0.5em 0 0 0;
  line-height: 1.0;
  overflow:;
}
li.log time {
  opacity: 0.5;
  font-size: 0.5em;
}