/* general  */

html {
  --main-bg-color: #fff;
  --omnibar-bg-color: transparent
  --omnibar-text-color: var(--main-bg-color);
  --main-text-color: rgba(0, 0, 0, 1);
  --border-color: grey;
  --log-border-color: rgba(0, 0, 0, .2);

  height: 100%;
  color : var(--main-text-color);
  font-family: Arial;
}
html.dark {
  --main-bg-color: #0b020e;
  --omnibar-bg-color: transparent
  --omnibar-text-color: var(--main-bg-color);
  --main-text-color: rgba(255, 255, 255, 0.75);
  --border-color:grey;
  --log-border-color: rgba(255, 255, 255, .2);
}
/* XXX This is a bit of a hack, a copy of the above... */
@media (prefers-color-scheme: dark) {
  html.auto {
    --main-bg-color: #0b020e;
    --omnibar-bg-color: transparent
    --omnibar-text-color: var(--main-bg-color);
    --main-text-color: rgba(255, 255, 255, 0.75);
    --border-color:grey;
    --log-border-color: rgba(255, 255, 255, .2);
  }
}

body {
  background: var(--main-bg-color);
  margin: 0;
  min-height: 100%;
}

/* omnibar */

section.page.hidden {
  display: none;
}

#form {
  padding: 0.75em;
}
#omnibar {
  background: var(--omnibar-bg-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  color: var(--omnibar-text-color);
  font-size: 1.5em;
  opacity: 0.95;
  padding: 0.5em 0.5em;
  width: 100%;
  height: 50px;
}
#omnibar:focus {
  outline-width: 0;
}

p#top-info {
  padding: 0 1em;
  margin: 0;
}



/* history */

#history.empty {
  display: none;
}
#history .title-box {
  display: flex;
  padding: 0 1em;
  margin: 0;
  margin-bottom: -3px;
}
#history .title-box p {
  margin: 0;
}
#history .title-box .toggle {
  margin-left: auto;
  /* hack to make clickable area bigger */
  margin-top    : -12px;
  padding-top   : 12px;
  margin-bottom : -13px;
  padding-bottom: 13px;
  margin-right  : -16px;
  padding-right : 16px;
  padding-left  : 60px;
  /* background    : rgba(127, 127, 127, 0.2); */
}
#history .title-box .toggle:after { /* html.auto */
  content: '🔆';
}
html.dark #history .title-box .toggle:after {
  content: '☀️';
}
html.light #history .title-box .toggle:after {
  content: '🌑';
}

#history ul {
  font-size: 1.5em;
  margin: 0;
  padding: 0 .4em;
}

/* entries (history) */
li.log {
  list-style: none;
  padding: 0 .25em;
  margin: .5em 0;
  border: 1px solid var(--log-border-color);
}

li.log .log-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: .2em;
}

li.log .exp {
  visibility: hidden;
}
li.log.expanded .exp {
  visibility: visible;
}

li.log .remove {
  font-size: .5em;
  color: #622222;
}

li.log.expanded {
  background: rgba(255, 255, 255, .1);
}

li.log input.text {
  background:transparent;
  border: 0 dotted var(--border-color);
  color: var(--omnibar-text-color);
  font-size: 1em;
  pointer-events: none;
  box-sizing: border-box;
  width: 100%;
}
form input[type='text'].below30,  #omnibar.below30  { font-size: 22px; }
form input[type='text'].below35,  #omnibar.below35  { font-size: 20px; }
form input[type='text'].below40,  #omnibar.below40  { font-size: 18px; }
form input[type='text'].below50,  #omnibar.below50  { font-size: 16px; }
form input[type='text'].below60,  #omnibar.below60  { font-size: 15px; }
form input[type='text'].below70,  #omnibar.below70  { font-size: 14px; }
form input[type='text'].below80,  #omnibar.below80  { font-size: 13px; }
form input[type='text'].below90,  #omnibar.below90  { font-size: 12px; }
form input[type='text'].below100, #omnibar.below100 { font-size: 11px; }
form input[type='text'].above100, #omnibar.above100 { font-size: 10px; }

li.log.expanded input.text {
/*   border-bottom-width: 1px; */
  pointer-events: auto;
}
li.log input.text:focus {
  outline-width: 0;
  width: 1;
}


li.log div.text {
  padding: 0.5em 0 0 0;
  line-height: 1.0;
  /* overflow:; */
}
li.log .timebox {
  /* hack, unsure whats going on */
  margin-top: -14px;
  margin-bottom: -3px;
}
li.log time {
  opacity: 0.5;
  font-size: 0.5em;
}

li.log.changed { background: rgba(127, 0, 255, 0.2); }
li.log.changed input.text { font-style: italic; }

section#buttons {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

button.shortcut {
  background: transparent;
  padding: 4px 8px;
  color: var(--main-text-color);
  box-shadow: none;
  border: 1px solid var(--border-color);
}
button.shortcut.selected {
  background: rgba(255, 255, 255, 0.5);
}