:root {
  --main-bg-color: #0b020e;
  --omnibar-bg-color: transparent
  --omnibar-text-color: var(--main-bg-color);
  --main-text-color: rgba(255, 255, 255, 0.3);
}
html {
  height: 100%;
  color: var(--main-text-color);
  font-family: Arial;
}
body {
  background: var(--main-bg-color);
  margin: 0;
  min-height: 100%;
}

#form {
  padding: 0.75em;
}

#omnibar {
  background: var(--omnibar-bg-color);
  border: 1px solid grey;
  box-sizing: border-box;
  color: var(--omnibar-text-color);
  font-size: 2em;
  opacity: 0.95;
  padding: 0.5em 0.5em;
  width: 100%;
}
#omnibar:focus {
  outline-width: 0;
}
#omnibar::placeholder {
  color: var(--omnibar-text-color);
  opacity: 0.5;
}

p.hint {
  font-style: italic;
}

ul {
  font-size: 2em;
  margin: 0;
  padding: .25em;
}
li {
  list-style: none;
  /* min-width: 100px; */
  /* max-width: 600px; */
  padding: 0 .25em;
  /* background: rgba(255,255,255,.1); */
  margin: .5em 0;
  border: 2px solid rgba(255,255,255,.1);
  border-radius: 5px;
}
li .log {
  padding: 0.5em 0 0 0;
  line-height: 0;
}
li time {
  opacity: 0.5;
  font-size: 0.5em;
}